/* キーワード検索 */
.search {
    margin-left: 50px;
}

.serch_name {
    font-size: 20px;
    margin-bottom: 5px;
}

#search_name {
    width: 150px;
    height: 25px;
}

input::placeholder {
    font-size: 15px;
}

.product_name {
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: auto;
    width: 150px;
}

/* メーカー検索 */
.company_name {
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: auto;
    width: 150px;
}

.select {
    width: 150px;
}

/* 価格検索 */
.product_price {
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: auto;
    width: 150px;
}

/* 在庫検索 */
.product_stock {
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: auto;
    width: 150px;
}

/* 新規登録 */
.newjoin {
    margin-top: 15px;
}

.new_btn {
    margin-left: 50px;
    width: 200px;
    margin-bottom: 15px;
}

/* 商品一覧 */
.product-group {
    width: 100%;
    margin-top: 50px;
}

.product-group img {
    margin-right: 15px;
    width: 35%;
    height: 50px;
    max-height: 50px;
    object-fit: contain;
    background-color: white;
}

.form-group {
    margin-left: 50px;
    width: 30%;
}

.detailImage {
    width: 100%;
    max-height: 50px;
    object-fit: contain;
    background-color: white;
}

/* ソート機能 */
#myTable .tablesorter-header {
    cursor: pointer;
    outline: none;
}
#myTable .tablesorter-header-inner::after {
    content: "▼";
    font-size: 12px;
    margin-left: 5px;
}
